/* Common */
body{
    font-family: Arial, sans-serif;
}

.img-rounded{
    border-radius: 20px;
}
/* Buttons */

/* Header  */
.header-top{
    background-color: black;
    padding: 10px;
}

.header-top > img{
    height: 15px;
}

.dropdown-toggle::after{
    display: inline-block;
}
.lens{
    height: 25px;
    vertical-align: middle;
}

header .nav-item .btn{
    margin: 0 10px 0 10px;
}
/* Main  */
#hero{
    margin-bottom: 50px;
}
.hero > .hero-top{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top center;
    padding: 300px 0 50px 0;
}

.hero-2 > .hero-top{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: top center;
    padding: 100px 0 50px 0;
}

.hero-bottom{
    padding-bottom: 50px;
    font-size: 15px;
}

.hero-2 > .hero-bottom{
    background-color: #1f1f1f;
}
.hero > .hero-top #jumbo{
    height: 40px;
}
.hero-2 > .hero-top #jumbo{
    height: 150px;
}
#buy-now{
    background-color: #cd3d0f;
}

.hero-img, .social img{
    margin-top: 24px;
}

.hero-2 img, .hero-2 .hero-img{
    margin-bottom: 15px;
}
.hero-active{
    border: 2px solid #0072ce;
    padding: 2px;
}

.hero-2 .hero-bottom
.col img{
    width: 70%;
}
.ps-plus{
    background-color: #bebcbb;
}


.ps-plus-img-1, .ps-now-img-1{
   width: 60%;
}

.ps-plus-img-2, .ps-now-img-2{
    width: 100%;
}

#ps-now{
    background-color: #161c3b;
}
.playstation-store img{
    width: 90%;
}

.social img{
    width: 40%;
}

footer{
    background-color: #00439c;
}

.globe-img{
    width: 4%;
}

.ps-logo, .sony-logo{
    width: 15%;
}
.sony-logo{
    width: 20%;
}
li{
    list-style-type: none;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px){   
    .col_right{
        display: none;
    }
}


