/* Common */
body{
    font-family: Arial, sans-serif;
}

.img-rounded{
    border-radius: 20px;
}
/* Buttons */

/* Header  */
.header-top{
    background-color: black;
    padding: 10px;
}

.header-top > img{
    height: 15px;
}

/* Main  */
#hero{
    margin-bottom: 50px;
}
.hero > .hero-top{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top center;
    padding: 300px 0 50px 0;
}

.hero-2 > .hero-top{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: top center;
    padding: 100px 0 50px 0;
}

.hero-bottom{
    padding-bottom: 50px;
}

.hero-2 > .hero-bottom{
    background-color: #1f1f1f;
}
.hero > .hero-top #jumbo{
    height: 40px;
}
.hero-2 > .hero-top #jumbo{
    height: 150px;
}
#buy-now{
    background-color: #cd3d0f;
}

.hero-img{
    margin-top: 24px;
}
.hero-active{
    border: 2px solid #0072ce;
    padding: 2px;
}

.hero-2 .hero-bottom
.col img{
    width: 70%;
}
.ps-plus{
    background-color: #bebcbb;
}


.ps-plus-img-1{
   width: 60%;
}

.ps-plus-img-2{
    width: 100%;
}

@media screen and (max-width: 768px){   
    .col_right{
        display: none;
    }
}


